/* body {
  display: flex;
} */

h1 {
  text-align: center;   
}

.nailpolish_spill {
  width: 100%;
  line-height: 80%;
	background-attachment:fixed;
}

.nailpolish_spill img{ 
  display: block;
  width: 100%;
}
